body {
    background-color: #adb5bd;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    
}

.content {
    background: #f8f9fa;;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    position: relative;
}


.quote-item {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.quote-item li {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    list-style-type: none; /* Noktaları kaldırmak için */
}

.quote-item span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    text-align: center;
}


.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.new-quote-button {
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.new-quote-button:hover {
    background-color: #495057;
}

